<style>
  .navbar-custom {
    background-color: #0D1821 !important;
}

</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-light navbar-custom " style="color: black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/qf.png" alt="" style="max-width: 100px; max-height: 50px;" >
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li>
            <a class="nav-link active" href="/trendingquizzes">Trending Quizzes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/newquizzes">New Quizzes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/search">Search</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/friends">Friends</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/settings/">Settings</a>
          </li>
          <li class="nav-item">
            <div class="nav-link active"><a href="/logout">Logout</a></p></div>
          </li>
        </ul>
      </div>
    </div>
</nav>