.globalNav {
    font-family: 'Montserrat';
    font-weight: 900;
    background-color: #0D1821;
    color: #F0F4EF;
}

.brand {
    font-family: 'Montagu Slab', serif;
    font-size: 150%;
    font-weight: 400;
}