.choice-content {
  padding: 5px;
  border-radius: 10px;
  min-width: 210px;
  position: relative;
}

.choice-title {
  text-align: center;
  font-size: large;
  width: 88%;
}

.q-darkBlue .result-impact, .q-mediumBlue .result-impact {
  border-radius: 0px;
}

.result-impact {
  text-align: center;
  margin: 5px 0px;
  font-size: small;
  padding: 2px;
}

.sm {
  font-size: xx-small;
}