.question-content {
  padding: 7px 0 0 0;
  border-radius: 15px;
  position: relative;
}

.question-header {
  margin: 0px;
  /* background-color: red; */
}

.question-title {
  font-family: 'Montagu Slab, serif';
  font-size: x-large;
}

.justify-content-between.question-header.row {
  margin: 0px;
}

.question-toggle {
  /* background: blue; */
  text-align: right;
  padding: 0px 50px 0px 0px;
  font-size: small;
}