.q-darkBlue {
    border-radius: 25px;
    background-color: #0D1821;
    color: #F0F4EF;
    font-family: 'Montserrat';
    font-weight: 900;
}

.q-mediumBlue {
    border-radius: 25px;
    background-color: #344966;
    color: #F0F4EF;
    font-family: 'Montserrat';
    font-weight: 900;
}

.choices {
    margin-left: 10%;
    margin-right: 10%;
}